/*
 * Criado e desenvolvido por 7UWeb Sistemas
 * Desenvolvedor Eliton Campos Silva
 */

@import url("globals.css");
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
    --primary: #c0392b;
    --secondary: #e74c3c;
    --tertiary: #F7F0E8;
    --success: #5cb377;
    --danger: #e63946;
    --warning: #EEBF41;
    --info: #5b99ea;
    --light-gray: #dfe6e9;
    --gray: #6c757d;
    --gray-dark: #343a40;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    height: 100%;
    font-family: 'Nunito', sans-serif;
    scrollbar-color: var(--gray-dark);
    scrollbar-width: thin;
    background-color: var(--tertiary);
    color: #3E3E3E;
    width: 100%;
    position: relative;
}

a {
    color: var(--primary);
    transition: all 0.2s ease;
}

a:hover {
    color: var(--secondary);
    transition: all 0.2s ease;
}

h2 {
    font-size: 1.25em;
}

/* FORMS/BUTTONS */
input[type=text],
input[type=date],
input[type=time],
input[type=password],
input[type=email],
input[type=number] {
    padding: 10px;
    border-top: 1px solid var(--light-gray);
    border-right: 1px solid var(--light-gray);
    border-left: 1px solid var(--light-gray);
    border-bottom: 2.5px solid var(--tertiary);
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(1, 26, 58, 0.08) 0px 0.5px 0px 0px;
    outline: 0;
}

input[type=date],
input[type=time] {
    padding: 8px;
    border-top: 1px solid var(--light-gray);
    border-right: 1px solid var(--light-gray);
    border-left: 1px solid var(--light-gray);
    border-bottom: 2.5px solid var(--tertiary);
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(1, 26, 58, 0.08) 0px 0.5px 0px 0px;
    outline: 0;
}

input[type=file] {
    padding: 8px;
    border-radius: 5px;
    outline: 0;
}

input[type=text]:focus,
input[type=date]:focus,
input[type=time]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=date]:focus,
input[type=time]:focus {
    border-bottom: 2.5px solid var(--primary);
}

select {
    height: 40px;
    padding: 0 8px;
    border: none;
    background-color: white;
    border-top: 1px solid var(--light-gray);
    border-right: 1px solid var(--light-gray);
    border-left: 1px solid var(--light-gray);
    border-bottom: 2.5px solid var(--tertiary);
    border-radius: 5px;
    box-shadow: rgba(1, 26, 58, 0.08) 0px 0.5px 0px 0px;
    outline: 0;
}

textarea {
    border: 0;
    background-color: white;
    height: 100px;
    resize: none;
    font-size: 12pt;
    padding: 12px;
    border-top: 1px solid var(--light-gray);
    border-right: 1px solid var(--light-gray);
    border-left: 1px solid var(--light-gray);
    border-bottom: 2.5px solid var(--tertiary);
    box-shadow: rgba(1, 26, 58, 0.08) 0px 0.5px 0px 0px;
    border-radius: 5px;
    outline: 0;
}

select:focus,
textarea:focus {
    border-bottom: 2.5px solid var(--primary);
}

button {
    color: white;
    font-weight: 500;
    background-color: var(--primary);
    border-radius: 5px;
    padding: 12px 16px;
    cursor: pointer;
    border: 0;
    transition: all 0.2s ease;
}

button:hover {
    background-color: --secondary;
    color: white;
}

button,
input[type=submit] {
    color: white;
    font-weight: 500;
    background-color: var(--primary);
    border-radius: 5px;
    padding: 12px 16px;
    cursor: pointer;
    border: 0;
    transition: all 0.2s ease;

}

button:hover,
input[type=submit]:hover {
    background-color: var(--secondary);
    color: white;
}

.btn {
    color: white;
    font-weight: 500;
    background-color: var(--primary);
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    transition: all 0.2s ease;
    justify-content: center;
}

.btn:hover {
    background-color: var(--secondary);
    color: white;
    transition: all 0.2s ease;
}

.btn-sec {
    color: var(--primary);
    background-color: white;
    font-weight: 500;
    border: 2px solid var(--primary);
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-sec:hover {
    background-color: var(--primary);
    color: white;
    transition: all 0.2s ease;
}

.btn--desactivated {
    color: white;
    font-weight: 500;
    background-color: var(--light-gray);
    border-radius: 5px;
    padding: 8px;
    cursor: not-allowed;
    transition: all 0.2s ease;
    justify-content: center;
}


/* CONTAINER */
.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 60px;
    background-color: var(--primary);
    color: white;
    display: flex;
}

header a {
    color: white;
    transition: all 0.2s ease;
}

header a:hover {
    color: #DDD;
    transition: all 0.2s ease;
}

header nav {
    width: 1280px;
    min-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em;
}

header nav .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.main-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    position: relative;
    padding: 0 12px;
}

.content {
    width: 100%;
    min-height: 120px;
    max-width: 1280px;
    height: 100%;
    padding: 12px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    align-items: stretch;
    position: relative;
    box-shadow:
        rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 20px;
}

/* MENU */
.menu {
    height: 60px;
    display: flex;
    list-style: none;
}

.menu li {
    height: 60px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid var(--primary);
}

.menu li:hover {
    border-bottom: 2px solid var(--tertiary);
    background-color: var(--secondary);
}

.menu li a {
    width: 100%;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.menu li a:hover {
    color: #fff;
}

.menu li ul {
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--secondary);
    display: none;
    z-index: 9999;
}

.menu li:hover ul,
.menu li.over ul {
    display: flex;
    flex-direction: column;
    border: 0;
    border-radius: 0 0 5px 5px;
}

.menu li ul li {
    height: 50px;
    padding: 0 10px;
    display: flex;
    min-width: 180px;
    cursor: pointer;
    border: 0;
}

.menu li ul li a {
    width: 100%;
}

.menu li ul li:hover {
    background-color: var(--tertiary);
    border: 0;
}

/* MENU MOBILE */
.open-menu {
    display: none;
    cursor: pointer;
}

.hide-menu {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.menu-mobile {
    width: 70%;
    max-width: 300px;
    position: absolute;
    background-color: var(--secondary);
    color: white;
    height: 100vh;
    z-index: 9999;
    display: none;
    transition: all 0.2s ease;
}

.menu-mobile a {
    color: white;
}

/* BREADCRUMB */
.breadcrumb {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--light-gray);
}

.breadcrumb h2 {
    font-size: 0.9rem;
}

.breadcrumb h2 i {
    font-size: 0.7rem;
    padding: 0 5px;
}

.breadcrumb a {
    color: var(--primary);
    font-size: 0.85rem;
}

.menu_data {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 15px;
    padding-top: 5px;
}

.menu_data--left {
    display: flex;
    align-items: center;
}

.menu_data--right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn--data-menu_search-left {
    display: none;
}

.btn--data-menu_search-right {
    display: flex;
}

.form-search-right {
    width: 60%;
    margin-left: 5px;
}

.input-field-search {
    width: 90%;
    max-width: 500px;
    text-align: center;
}

/* TABLE */
th {
    text-align: left;
}

.table_header {
    width: 100%;
    display: flex;
    font-weight: 700;
    padding: 12px 5px;
    background-color: #dddddd;
    border-radius: 5px;
    text-align: left;
}

.table_data {
    width: 100%;
    display: flex;
    padding: 8px 5px;
    background-color: #edeaea;
    border-radius: 5px;
    margin-top: 5px;
}

.table-title-mobile {
    display: none;
}

.table-line {
    width: 100%;
    display: flex;
}

.table-center {
    display: grid;
    justify-content: center;
}

/* DROPDOWNS ITENS */
.dropbtn {
    color: var(--primary);
    border-radius: 5px;
    padding: 0.3em;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    color: var(--gray);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    left: -140px;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    text-align: left;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: var(--secondary);
    color: white;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* PAGINATION*/
.pagination {
    margin-top: 20px;
    display: flex;
    background-color: #DDD;
    border-radius: 5px;
    justify-content: center;
    padding: 15px;
}

.pag_item {
    padding: 10px 15px;
    border: 1px solid var(--tertiary);
    border-radius: 5px;
    margin: 0 3px;
}

.pag_active {
    background-color: var(--tertiary);
    color: white;
}

.pag_item:hover {
    background-color: var(--tertiary);
    color: white;
    transition: all 0.2s ease;
}

/* COLORS */
.bg_light_gray {
    background-color: #DDD;
}



.data_info {
    padding: 16px;
    background-color: #DDD;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.title_list p {
    font-size: 1.2em;
    font-weight: 700;
}

.search_pg {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4em 0;
    flex-wrap: wrap;
    background-color: #DDD;
    border-radius: 5px;
    padding: 15px;
}

.search_pg p {
    flex-basis: 100%;
    font-size: 1.3em;
}

.search_pg span {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.search_products {
    flex-basis: 100%;
    padding: 0.75em !important;
    font-size: 1.3em !important;
    max-width: 800px;
    text-transform: uppercase;
}

/* FLASHS */
.flash_info {
    display: flex;
    flex-basis: 100%;
    border: 2px solid var(--info);
    border-radius: 5px;
    padding: 1em;
    justify-content: center;
    color: var(--info);
    align-items: center;
}

.flash_success {
    display: flex;
    flex-basis: 100%;
    border: 2px solid var(--success);
    border-radius: 5px;
    padding: 1em;
    justify-content: center;
    color: var(--success);
    align-items: center;
}

.flash_warning {
    display: flex;
    flex-basis: 100%;
    border: 2px solid var(--warning);
    border-radius: 5px;
    padding: 1em;
    justify-content: center;
    color: var(--warning);
    align-items: center;
}

.flash_danger {
    display: flex;
    flex-basis: 100%;
    border: 2px solid var(--danger);
    border-radius: 5px;
    padding: 1em;
    justify-content: center;
    color: var(--danger);
    align-items: center;
}

.flash_gray {
    display: flex;
    flex-basis: 100%;
    border: 2px solid var(--gray);
    border-radius: 5px;
    padding: 1em;
    justify-content: center;
    color: var(--gray);
    align-items: center;
}

.info {
    background-color: var(--info);
    border-radius: 5px;
    padding: 2px 5px;
}

.info_danger {
    background-color: var(--danger);
    border-radius: 5px;
    padding: 2px 5px;
}

.icon_positive {
    color: var(--secondary);
}

.icon_success{
    color: var(--success);
}

.icon_negative {
    color: var(--danger);
}

.bg_positive {
    background-color: #d3e7fc;
}

.bg_success {
    background-color: var(--success);
}

.bg_negative {
    background-color: #f3b9be;
}



.menu_data-filter {
    width: 100%;
    background-color: var(--gray);
    color: white;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
    display: none;
    flex-wrap: wrap;
}

.form-filter {
    display: flex;
    width: 100%;
}

.signature_line {
    border: 1px solid var(--primary);
}

.unauthorized {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}

/* HOME CARDS */
.card-field--home {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

.card--home {
    padding: 15px;
    background-color: var(--light-gray);
    border-radius: 5px;
    text-align: center;
    transition: all 0.2s ease;
}

.card--home-icon {
    padding: 10px 0;
}

.card--home:hover {
    background-color: var(--gray);
    color: white;
    cursor: pointer;
}

.card--home-number {
    font-size: 1.5em;
    padding: 15px 0;
}

.card-field--settings {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}


.card--settings-icon {
    padding-right: 15px;
}

.card-settings {
    display: flex;
    align-items: center;
    background: var(--tertiary);
    border-radius: 5px;
    border-bottom: 2px solid var(--secondary);
    padding: 10px;
    min-height: 80px;
}

.card-field--settings a {
    color: #343a40;
}

.card-settings:hover {
    background: var(--secondary);
    color: white;
    transition: all 0.2s ease;
}

/* MODAL */
#discounted_value {
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--tertiary);
    font-size: 1.5em;
}



#fade {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 9999;
}

#ctnModal {
    width: 80%;
    height: 80%;
    border-top: 5px solid var(--tertiary);
    top: 0;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#fecharModal {
    display: flex;
    justify-content: flex-end;
    padding: 7px;
}

#close {
    cursor: pointer;
}

.product_cart {
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--secondary);
    padding: 10px 0;
    text-transform: uppercase;
}

.table-line--cart {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}

.input-cart {
    border: 0;
    max-width: 50px;
    text-align: center;
}

/* SCHEDULE */
#schedule-service--form {
    display: none;
}

#schedule-service--form-edit {
    display: block;
}

#schedule-service--form-discount {
    display: none;
    text-align: center;
}

.btn-schedule-service--field {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px 0;
}

.info_status {
    font-size: 0.8rem;
    padding: 2px 5px;
    border-radius: 10px;
    color: white;
}

.info_status--success {
    background-color: var(--success);
}

.info_status--aproved {
    background-color: var(--secondary);
}

.info_status--pending {
    background-color: var(--gray-dark);
}

.info_status--canceled {
    background-color: var(--danger);
}

.btn-close-schedule {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px 0;
}

.schedule-form--payment {
    text-align: center;
}

.schedule-client--data {
    background-color: var(--light-gray);
    padding: 10px;
    border-radius: 5px;
}

#schedule--form-aditional-info {
    display: none;
}

.text-home{
    font-size: 1.2rem;
}
.history {
    display: none;
    flex-wrap: wrap;
    flex-basis: 100%;
    border: 2px solid var(--gray);
    border-radius: 5px;
    padding: 1em;
    justify-content: center;
    color: var(--gray);
    align-items: center;
    margin: 10px 0;
}

.infos {
    display: none;
    flex-wrap: wrap;
    flex-basis: 100%;
    border: 2px solid var(--gray-dark);
    border-radius: 5px;
    padding: 1em;
    justify-content: center;
    color: var(--gray-dark);
    align-items: center;
    margin: 10px 0;
}

.infos-assign {
    font-size: 12px;
}

.title-table {
    width: 100%;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 600;
    padding: 10px 0;
}

.badge {
    font-size: 0.7rem;
    padding: 2px 5px;
    border-radius: 10px;
    color: white;
}

.badge-success {
    background-color: var(--success);
}

.badge-aproved {
    background-color: var(--info);
}

.badge-pending {
    background-color: var(--gray-dark);
}

.badge-canceled {
    background-color: var(--danger);
}

.question {
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 8px;
    background-color: var(--light-gray);
    margin-bottom: 8px;
}

.question-title {
    margin-bottom: 5px;
    font-weight: 600;
}

/* .question-answer {
    width: 100%;
    display: flex;
    justify-content: space-between;
} */